<p>login works!</p>

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Login Here</h2>
            <form action="" [formGroup]="logform" (ngSubmit)="authenticate()">
                <div class="mt-3">
                    <input type="text" placeholder="Username" class="form-control" formControlName="username" required>
                    <div *ngIf="logform.get('username')?.invalid && logform.get('username')?.touched" class="text-danger">*required</div>
                </div>
                <div class="mt-3">
                    <input type="text" placeholder="Password" class="form-control" formControlName="password" required>
                    <div *ngIf="logform.get('password')?.invalid && logform.get('password')?.touched" class="text-danger">*required</div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-info">Login</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
