<app-category (newEvent)="fetchData"></app-category>

<div class="flex">
    <div class="card" *ngFor="let i of products">
        <div><img src="{{i.image}}" alt=""></div>
        <div><h4>{{i.title}}</h4></div>
        <div><h2></h2>{{i.description}}</div>
        <div><h1>{{i.price}}</h1></div>
        <div><h1>{{i.catogory}}</h1></div>
        <div><h1>{{i.rating.rate}}</h1></div>
        <div><h1>{{i.rating.count}}</h1></div>
        <div><button (click)="redirectToProductDetails(i.id)">view</button></div>
        
    
    </div>
</div>